nav {
    font-family: 'Titillium Web', sans-serif;    
    }
  a:hover {
    text-decoration:none;
    color:black;
  }

  a {
    color:white;
  }

  nav {
    background-color: #2653A0;
  }

  h4 {
    font-family: 'ZCOOL XiaoWei', serif;
    font-weight: bold;
  }
    span>a:hover {
    text-decoration: underline;
    color:red;
  }

  nav {
    font-family: 'Titillium Web', sans-serif; 
    background-color: #2653A0;   
}

span >a, div>div>span {
    color:black;
    font-size:12px;
  }